/* Start Global Rules  */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
:root {
    --main-Color: #5697d0;
    --main-Transition: 0.4s linear;
    --main-Padding: 60px;
    --section-Color: #fafafb;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* // Medium devices  */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* // Large devices  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* // X-Large devices  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.main-header {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
}

.section-header {
    text-align: center;
}
.section-header h2 {
    font-size: 40px;
    font-weight: 700;
}
@media (max-width: 767px) {
    .section-header h2 {
        font-size: 22px;
        margin: 10px;
    }
}
.section-header h2 span {
    color: var(--main-Color);
}
.section-header p {
    font-size: 20px;
    line-height: 1.6;
    color: #777;
}
/* End Global Rules  */
/* Start Header */
.header {
    position: relative;
}
.header.fixed {
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.header nav  {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navbar-brand {
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .nav-link {
    font-size: 25px;
}
/* End Header  */
/* Start landing */
.landing {
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../images/slide/slide-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 13, 14, 0.8);
    z-index: 1;
}
.landing .container h2 {
    margin-top: 0;
    font-weight: 700;
    position: relative;
    z-index: 1;
}
.landing p {
    font-size: 20px;
    line-height: 1.6;
    width: 800px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}

.landing a {
    border: 1px solid var(--main-Color);
    display: block;
    width: 170px;
    padding: 13px;
    color: white;
    text-transform: capitalize;
    border-radius: 6px;
    background-color: var(--main-Color);
    margin: 20px auto;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.landing a:hover {
    background: none;
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End landing  */
/* Start About */
.about {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1300px) {
    .about {
        flex-direction: column;
    }
}
.about .img {
    flex-basis: 50%;
    position: relative;
}
@media (max-width: 1300px) {
    .about .img img {
        width: 100%;
    }
}
.about .img .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(#428bca 50%,    rgba(66, 139, 202, 0.4) 52%);
    overflow: hidden;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    overflow: hidden;
}
.about .img .icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff54;
}
.about .img .icon:hover::after {
    animation: flaching 0.4s linear;
    -webkit-animation: flaching 0.4s linear;
}
.about .img svg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 44px;
    left: 50px;
    z-index: 5;
    cursor: pointer;
}
.about .info {
    flex-basis: 45%;
}
@media (max-width: 1300px) {
    .about .info {
        margin-left: 30px;
    }
}
.about .info h2 {
    font-size: 30px;
    color: #394047;
}
.about .info p {
    color: #444444;
    font-size: 20px;
    line-height: 1.6;
}
.about .info .box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
@media (max-width: 1300px) {
    .about .info .box {
        margin-left: 10px;
        justify-content: flex-start;
    }
}
.about .info .box .icons {
    font-size: 50px;
    margin-right: 20px;
    width: 70px;
    height: 70px;
    border: 2px solid #b9d4ec;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .info .box .icons:hover {
    background-color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.about .info .box .icon i {
    display: block;
    padding: 10px;
    color: #428bca;
}
.about .info .box .icon i:hover {
    color: white;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.about .info .box h3 {
    font-size: 23px;
    font-weight: 700;
}
.about .info .box h3:hover {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.about .img .skills {
    margin: 55px 20px;
}
.about .skills .prog {
    height: 30px;
    background-color: var(--section-Color); 
}
.about .skills .prog span::before {
    content: attr(data-progress);
    position: absolute;
    right: 0;
    top: -30px;
    color: black;
}
.about .skills h4 {
    text-transform: uppercase;
    font-size: 20px;
}
.about .skills .prog span {
    width: 0;
    transition: all 0.4s linear;
    background-color: var(--main-Color);
    display: block;
    height: 100%;
    position: relative;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
/* End About */
/* Start Counter */
.counter {
    overflow: hidden;
    background-color: var(--section-Color);
}
.counter .contianer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 50px;
}
.counter .contianer .box {
    display: block;
    font-size: 30px;
}
.counter .contianer .box span {
    display: block;
    text-align: center;
}
.counter .contianer .box span.num {
    font-size: 50px;
    color: var(--main-Color);
    font-weight: 700;
    margin-bottom: 15px;
}
.counter .contianer .box span.head {
    display: block;
    text-transform: capitalize;
    font-size: 30px;
}
/* End Counter */
/* Start Services */
.services {
    overflow: hidden;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
@media (max-width: 767px) {
    .services .container {
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
}
.services .container svg {
    font-size: 50px;
    float: left;
    margin-right: 15px;
    margin-top: 12px;
}
.services .box:hover svg {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.services .box:hover h2 {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.services .container h2 {
    font-size: 25px;
}
.services .container p {
    font-size: 22px;
    line-height: 1.8;
}
/* End Services */
/* Start Call */
.call {
    overflow: hidden;
    background-image: url(../images/cta-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    text-align: center;
    background-attachment: fixed;
}
.call::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
@media (max-width: 767px) {
    .call .call-content {
        margin: 0;
    }
}
.call .call-content {
    margin-top: 50px;
}
.call h2 {
    position: relative;
    color: white;
    font-size: 40px;
}
@media (max-width: 767px) {
    .call h2 {
        font-size: 25px;
    }
}
.call p {
    position: relative;
    color: white;
    font-size: 20px;
    line-height: 1.7;
}
@media (max-width: 767px) {
    .call p {
        font-size: 17px;
        line-height: 1.5;
    }
}
.call a {
    display: block;
    position: relative;
    color: white;
    font-size: 20px;
    border: 1px solid var(--main-Color);
    padding: 13px;
    margin: 20px auto;
    background-color: var(--main-Color);
    text-transform: capitalize;
    width: 170px;
    cursor: pointer;
    text-decoration: none;
}
@media (max-width: 767px) {
    .call a {
        width: 300px;
    }
}
.call a:hover {
    background: 0;
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Call */
/* Start Portfolio */
.portfolio {
    overflow: hidden;
    position: relative;
}
.portfolio .container .head-links {
    text-align: center;
    margin: 30px;
}
.portfolio .container .head-links span {
    padding: 20px;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 767px) {
    .portfolio .container .head-links span {
        padding: 10px;
    }
}
.portfolio .container .head-links span.active {
    background-color: var(--main-Color);
    color: white;
}
.portfolio .container .head-links span:hover {
    background-color: var(--main-Color);
    color: white;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.portfolio .container .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 60px;
}
.portfolio .container .portfolio-content .img1 {
    position: relative;
    overflow: hidden;
}
.portfolio .container .portfolio-content img {
    width: 100%;
}
.portfolio .container .portfolio-content .img1 .info {
    display: none;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.portfolio .container .portfolio-content .img1:hover > img {
    transform: scale(1.1) rotate(4deg) ;
    -webkit-transform: scale(1.1) rotate(4deg) ;
    -moz-transform: scale(1.1) rotate(4deg) ;
    -ms-transform: scale(1.1) rotate(4deg) ;
    -o-transform: scale(1.1) rotate(4deg) ;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.portfolio .container .portfolio-content .img1 img:hover + .info {
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    background-color: rgb(0 0 0 /30%);
    width: 100%;
    height: 187px;
    padding: 10px;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Portfolio */
/* Start Testimonials */
.testimonials {
    overflow: hidden;
    background-color: var(--section-Color);
}
.testimonials .testimonials-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 50px;
}
.testimonials .testimonials-content .box {
    box-shadow: 0 2px 20px #ddd;
    padding: 30px;
}
.testimonials .testimonials-content .box:hover {
    box-shadow: 1px 10px 20px #ddd;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.testimonials .testimonials-content img {
    width: 70px;
    height: 100px;
}
.testimonials .testimonials-content .head {
    display: flex;
}
.testimonials .testimonials-content .head .head-info {
    margin: 0 0 20px 20px;
}
.testimonials .testimonials-content .head .head-info h1 {
    font-size: 35px;
}
.testimonials .testimonials-content .head .head-info span {
    color: #777;
}
.testimonials .testimonials-content .content {
    margin: 20px 0 0;
}
.testimonials .testimonials-content .content {
    line-height: 1.6;
    font-size: 18px;
}
.testimonials .testimonials-content .content  svg {
    font-size: 25px;
    color: var(--main-Color);
    margin: 0 5px 0;
}
/* End Testimonials */
/* Start Team  */
.team {
    overflow: hidden;
}
.team .team-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 50px;
    overflow: hidden;
}
.team .team-content .box {
    position: relative;
    overflow: hidden;
}
.team .team-content .box img {
    max-width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.team .team-content .box:hover .info {
        opacity: 1;
        background: linear-gradient(
            4deg, rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.8) 20%,
            rgba(0, 212, 255, 0) 100%);
        transition: var(--main-Transition);
        -webkit-transition: var(--main-Transition);
        -moz-transition: var(--main-Transition);
        -ms-transition: var(--main-Transition);
        -o-transition: var(--main-Transition);
}
.team .team-content .box .info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.team .team-content .box .info .head {
    position:absolute;
    left: 140px;
    color: white;
    bottom: 60px;
    text-align: center;
}
@media (max-width: 767px) {
    .team .team-content .box .info .head {
        position: absolute;
        left: 100px;
    }
}
.team .team-content .box .info .social {
    position: absolute;
    bottom: 20px;
    left: 140px;
}
@media (max-width: 767px) {
    .team .team-content .box .info .social {
        position: absolute;
        left: 90px;
    }
}
.team .team-content .box .info .social  svg {
    margin-left: 20px;
    font-size: 25px;
    color: white;
}
.team .team-content .box .info .social svg:hover {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Team  */
/* Start Contact */
.contact {
    overflow: hidden;
    background-color: var(--section-Color);
}
.contact .contianer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
@media (max-width: 1300px) {
    .contact .contianer {
        flex-direction: column;
    }
}
.contact .contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    width: 100%;
}
.contact .contact-content .box {
    background-color: white;
    box-shadow: 0 2px 20px #ddd;
    padding: 30px;
    text-align: center;
}
.contact .contact-content .box i {
    font-size: 50px;
    color: var(--main-Color);
    text-align: center;
}
.contact .contact-content .box p {
    line-height: 1.6;
}
.contact form {
    width: 600px;
    text-align: left;
    margin-left: 80px;
}
@media (max-width: 1300px) {
    .contact form  {
        display: none;
    }
}
@media (max-width: 1300px) {
    .contact form input {
        width: 700px;
    }
}
@media (max-width: 991px) {
    .contact form input {
        width: 100%;
    }
}
.form .form-floating {
    margin-top: 10px;
}
.form button {
    margin: 20px auto;
    width: 200px;
    padding: 11px;
}
/* End Contact */
/* Start Footer */
.footer {
    overflow: hidden;
    background-color: #272c30;
    color: white;
}
.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .footer li svg {
    color: var(--main-Color);
    margin-right: 5px;
} */
.footer li {
    padding: 10px;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}
.footer li:hover {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.footer p {
    width: 100%;
    font-size: 20px;
}
.footer h3 {
    margin: 20px 0 ;
    font-size: 30px;
}
.footer span {
    display: block;
    margin: 10px;
}
.footer ul {
    padding: 0;
}
.footer .services {
    margin-bottom: 100px;
}
.footer .about-us {
    line-height: 1.6;
}
.footer .about-us .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.footer .about-us .icons svg {
    margin-left: 5px;
    font-size: 25px;
    padding: 15px;
    background-color: #394047;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .about-us .icons svg:hover {
    background-color: var(--main-Color);
    color: white;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Footer */
/* Start Copy */
.copy {
    background-color: #2e3339;
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 1.6;
}
.copy span {
    color: var(--main-Color);
    font-weight: 800;
}
/* End Copy */
.up {
    position: fixed;
    right: 40px;
    bottom: 400px;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    background-color: var(--main-Color);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    opacity: 0;
}
.up.active {
    opacity: 1;
    bottom: 40px;
}

/* Start Animation */
@keyframes flaching {
    20% {
        opacity: 1;
    }

    40% {
        width: 20px;
        height: 20px;
    }

    100% {
        width: 200%;
        height: 200%;
    }
}
/* End Animation */